<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <ul class="tab-list list-unstyled d-flex">
        <li class="tab tab-active text-center">
          All
        </li>
        <li class="tab text-center">
          Follow
        </li>
        <li class="tab text-center">
          Favorite
        </li>
      </ul>
    </div>
  </div>

  <div class="tabbox-contents">
    <div class="tabbox box-show" data-tag="All">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-12 text-center">
          <p class="pheader">投稿一覧</p>
        </div>
      </div>
      <% @posts.each do |post| %>
        <%= render 'post_list', post: post %>
      <% end %>
    </div>
    <div class="tabbox" data-tag="Follow">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-12 text-center">
          <p class="pheader">フォロー中投稿一覧</p>
        </div>
      </div>
      <% @follow_posts.each do |post| %>
        <%= render 'post_list', post: post %>
      <% end %>
    </div>
    <div class="tabbox" data-tag="Favorite">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-12 text-center">
          <p class="pheader">いいね一覧</p>
        </div>
      </div>
      <% @favorite_posts.each do |post| %>
        <%= render 'post_list', post: post %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-4 text-center">
      <div class="pagination">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
