<div class="container justify-content-center">
  <div class="row mt-3 d-flex justify-content-center">
    <div class="col-10 text-center">
      <p class="pheader">
        <b><span class="text-info">A</span>bout</b>
      </p>
    </div>
  </div>

  <div class="row mt-3 d-flex justify-content-center">
    <div class="col-10 text-center">
      <p><b>Gamer’s Conection</b>はゲーム好きのためのコミュニティサイトです<br>
        一緒に遊ぶ友達を探すもよし！ゲームの評判を調べるもよしなサイトです!<br>
        今後様々な機能を実装予定です<br>
        よりよいゲームライフを送るためにぜひご活用ください
      </p>
    </div>
  </div>

  <div class="row pt-5 d-flex justify-content-center">
  <div class="col-6">
    <%= link_to "投稿を見てみる", example_path, class: "btn btn-info btn-block" %>
  </div>
</div>
</div>