<div class="container justify-content-center">
  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-10 text-center">
      <%= image_tag(asset_path('Gamers Connection.jpg')) %>
    </div>
  </div>

  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-10 text-center">
      <p>ようこそ<b>Gamer’s Conection</b>へ<br>
         当サイトはゲーム好きのためのコミュニティサイトです<br>
         会員登録しなくても投稿の閲覧は可能ですが<br>
         投稿や、ユーザーのフォローには会員登録が必要になります
      </p>
    </div>
  </div>

  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-6">
      <%= link_to "ゲストユーザーでログイン", guest_login_path, class: "btn btn-secondary btn-block" %>
    </div>
  </div>
  <div class="row pt-3 d-flex justify-content-center">
    <div class="col-6">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success btn-block" %>
    </div>
  </div>
  <div class="row pt-3 d-flex justify-content-center">
    <div class="col-6">
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>

