@use '~bootstrap/scss/bootstrap';

.pheader {
  font-size: 3rem;
}

.post {
  font-size: 24px;
}

.user {
  font-size: 24px;
}

.user-table {
  width: 134px;
  font-size: 16px;
}

.explain {
  font-size: 16px;
}

.image:hover {
  transform: translateY(-1px);
}

.result-head {
  width: 20%;
}

.result-foot {
  width: 40%;
}

.post-row {
  height: 100px;
}

.comment-row {
  height: 75px;
}

.item-row {
  height: 35px;
}

.user-row {
  height: 100px;
}

.pagination {
  font-size: 24px;
}

.flash_message {
  border-radius: 5px;
  padding: 8px 24px;
  margin: 8px 24px;
}

.flash_message.notice {
  background-color: #bcdfff;
  color: #0067c0;
  border: solid 1px #0067c0;
}

.flash_message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}


.tab {
  width: 100%;
  padding: 10px;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}

.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}