<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 col-12 text-center">
      <p class="pheader">いいね一覧</p>
    </div>
  </div>

  <% @posts.each do |post| %>
    <%= render 'public/posts/post_list', post: post %>
  <% end %>

  <div class="row">
    <div class="col-4 offset-4 text-center">
      <div class="pagination">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
